

  <form action='/sessions' method="post">


    How many minutes did you meditate for today?<br>
    <input type="text" name="duration_minutes"><br>

<br>
    How did you feel after?<br>
    <label><input type="radio" name="mood_rating" value="1"> Awful</label><br>
    <label><input type="radio" name="mood_rating" value="2"> Not good</label><br>
    <label><input type="radio" name="mood_rating" value="3"> Average</label><br>
    <label><input type="radio" name="mood_rating" value="4"> Good</label><br>
    <label><input type="radio" name="mood_rating" value="5"> Amazing!</label><br>
<br>
        <input type="submit" name="submit" id="submit">
    <br>

  </form>