

  <form action='/sessions' method="post">
  
    How many minutes did you meditate for?
    <input type="text" name="duration_minutes"><br>
    

    <input type="submit" name="submit" id="submit">
    <br>

  </form>