
<h2><%= @session.formatted_created_at%></h2> <div class="sidebar">

      <ul>
        <li><a href="/sessions/index">All Sessions</a></li>

      </ul>
    </div>

<br>

<%= @session.duration_minutes%> minutes meditated!
<br>

Your mood after:<br>
<% if @session.mood_rating = "1"%>
<img src="/images/awful.jpg" alt="awful" class="center_img">

<%end%>

<br>
<br>



<form action="/sessions/<%=@session.id%>/delete" method = "post">
  <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete this session?">
</form>
