
<h2><%= @session.formatted_created_at%></h2> <div class="sidebar">

      <ul>
        <li><a href="/sessions/index">All Sessions</a></li>
        <li><a href="/logout">Log Out</a>
        <li><a href="/sessions/<%=@session.id%>/edit">Edit Session</a>

      </ul>
    </div>

<br>

<h2><%= @session.duration_minutes%> minutes meditated!</h2>
<br>
<br>
<h3>Your mood after:</h3><br>
<% if @session.mood_rating == 1 %>
<img id="m1" src="/images/awful.jpg">
<% elsif @session.mood_rating == 2 %>
<img id="m2" src="/images/not_great.jpg">
<% elsif @session.mood_rating == 3 %>
<img id="m3" src="/images/average.jpg">
<% elsif @session.mood_rating == 4 %>
<img id="m2" src="/images/good.jpg">
<% elsif @session.mood_rating == 5 %>
<img id="m2" src="/images/amazing.jpg">
<%end%>
<br>
<br>
<h3>The type(s) of meditation you practiced:</h3>

<% if @session.meditype.include? ("guided")%>
Guided - I followed the prompts given by a teacher/video/app<br>
<%end%>
<% if @session.meditype.include? ("unguided")%>
Unguided - I meditated alone without guidance<br>
<%end%>
<% if @session.meditype.include? ("focused_attention")%>
Focused Attention - I used my breath to focus my attention<br>
<%end%>
<% if @session.meditype.include? ("noting")%>  
Noting - I noted rising thoughts and feelings, then let them go<br>
<%end%>
<% if @session.meditype.include? ("visualization")%>
Visualization - I pictured something pleasant to focus on<br>
<%end%>
<% if @session.meditype.include? ("other")%>Something not listed here!<br>
<%end%>


<br>



<form action="/sessions/<%=@session.id%>/delete" method = "post">
  <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete this session?">
</form>
