
<h2><%= @session.formatted_created_at%></h2>

<br>

<%= @session.duration_minutes%> minutes meditated!
<br>

Your mood after:<br>
<% if @session.mood_rating = "1"%>
<img src="/images/awful.jpg" alt="awful" class="center_img">

<%end%>




<form action="/sessions/<%=@session.id%>/delete" method = "post">
  <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete this session?">
</form>
