
<%= @session.formatted_created_at%>

<br>

<%= @session.duration_minutes%>
<br>

<%=@session.mood_rating%>




<form action="/sessions/<%=@session.id%>/delete" method = "post">
  <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete this session?">
</form>
