@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-color: rgb(244, 255, 253);
    color: rgb(244, 248, 250);
    font-family: 'helvetica';
    font-size: large;
    text-align: center;
    line-height: 30px;
  }

  /* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}

  a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(144, 193, 233);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(198, 236, 252);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: rgb(96, 252, 174);
    background-color: transparent;
    text-decoration: none;
  }
  .center_img {
  
    margin-left: auto;
    margin-right: auto;
    
    max-width: 40%;
    padding: 30px 0;
    border-radius: 50%;
 
  }
  
  .wrapper {
    background: rgb(88,176,212);
    border-radius:10px; /* round corners */
    box-shadow:0px 3px 5px 5px rgb(255, 255, 255); /* add shadow */
    -moz-box-shadow: 0 0 10px rgba(255, 255, 255, 0.986);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    text-align: center;

    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 70px 0;
  }

  .center_img {
  
    margin-left: auto;
    margin-right: auto;
    
    max-width: 40%;
    padding: 30px 0;
    border-radius: 50%;
 
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }


}