<h1> Sign Up</h1>

<% if flash.has?(:notice) %>
  <%= flash[:notice] %>
<% end %>
<br>
<form action = "/signup" method="POST">
    <label for="username">Username:</label>
    <br>
    <input type="text" name="username" id="username">
<br>

    <label for="email">Email:</label>
    <br>
    <input type="text" name="email" id="email">

<br>

    <label for="password">Create a Password:</label>
    <br>
    <input type="text" name="password" id="password">
<br>
    <input type="submit" value="Create User">
    </form>

    <br>

    Already have an account? 
    <a href="/login">Log In!</A>


