
<div class="container">

<% if flash.has?(:notice) %>
  <%= flash[:notice] %>
<% end %>

  
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Meditation Tracker!</h2>
    <h3>Use this tracker to help log when you meditate, and how you feel right after</h3>

    <div class="content">
    <a href="/login">Log in</a>
    <br>
    <br>
    <a href="/signup">Sign up</a>
    </div>


  </div>
</div>
